
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .post{
    margin: 0 auto;
    margin-bottom:20px;
    width:80%;
  }
  .material-icons.orange600 { 
    color: red;  
  }
  